@media (min-width:768px)
{
    .mobile-767px
    {
        display: none;
    }
}

@media (max-width:767px)
{
    .tablet-container
    {
        display: none;
    }
}

@media (min-width:1025px)
{
    .tablet-container
    {
        display: none;
    }
}

@media (max-width:600px)
{
    .navigation-bar-mobile-tablet
    {
        font-size: 0.75em;
    }
}

@media (max-width:477px)
{
    .navigation-bar-mobile-tablet
    {
        font-size: 0.5em;
    }
}

@media (max-width:353px)
{
    .navigation-bar-mobile-tablet
    {
        font-size: 0.4em;
    }
}


@media (max-width:302px)
{
    .navigation-bar-mobile-tablet
    {
        font-size: 0.3em;
    }
}

@media (max-width:1024px)
{
    .desktop-container
    {
        display: none;
    }
}